.login-form{
    display: flex;
    flex-direction: column;
}

.group{ 
    position:relative; 
    margin-bottom:55px; 
    width: 100%;
}

.phone-group .group{
    margin-bottom: 37px;
}

.auth-contents{
    height: 200px;
}

input{
    font-size:16px;
    padding:10px 10px 10px 15px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
    box-sizing:border-box;
}

input:focus{
    outline:none;
}

  /* LABEL ======================================= */
label{
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:15px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
  
  /* active state */
input:focus ~ label{
    top:-20px;
    font-size:14px;
    color:#1678CB;
}

input:valid ~ label{
    top:-20px;
    font-size:14px;
    color:#1678CB;
}

  /* BOTTOM BARS ================================= */
.bar{ 
    position:relative; 
    display:block; 
    width:100%; }

.bar:before, .bar:after{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#1678CB; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

.bar:before {
    left:50%;
}

.bar:after {
    right:50%; 
}
  
  /* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}


.group .small-text{
    padding-left: 15px;
}

.button{
    font-size: 16px;

    padding: 15px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    background-color: #1678CB;
    color: white;
    cursor: pointer;
    margin: auto;
}

.button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: 1px solid #1678CB;
    color: #1678CB;
    background-color: white;
}

svg{
    fill: white;
    margin-left: 10px;
}

.button:hover svg{
    fill: #1678CB;
}

  
  /* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}



/* Register */

.backButtonDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.backButton{
    cursor: pointer;
    color: #767676;
    font-size: 12px;
    line-height: 14.5px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.phone-group{
    display: flex;
}

.fixed{
    width: 90px;
    margin-right: 5px;
}

.fixed-label{
    color: #999;
    margin-top: 12px;
    padding-left: 15px;
    padding-bottom: 3px;

    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
    box-sizing:border-box;
    font-size:18px;
}

